<!DOCTYPE html>

<html>
    <head>
        <title>Login page</title>
        
     </head>   
     <body>
        <h1>This is the login page of website</h1>
        <form  class='login-form' method='POST' action='/user'>
            <lable for="name">Name: </lable>
            <input type='text' id="name" required name="name"><br><br>
            <lable for="username">User Name:</lable>
            <input type="text" id='username' required name='username'><br><br>
            <lable for="email">Email:    </lable>
            <input type="email" id="email" required name="email"><br><br>
            <lable for="age">Age:</lable>
            <input type="number" min='0' max='100' required id="age" name="age"><br><br>
            <lable for="password">Password:</lable>
            <input type="password" minlength="6" required id="password" name="password"><br><br>
            <input type="submit">


         </form>
         <h3>Already have account?<a href="/login">login</a>
<script type="text/javascript" src='./app.js'></script>
    </body>
</html>