<!DOCTYPE html>

<html>
    <head>
        <title>Login page</title>
        
     </head>   
     <body>
<h1>welcome {{user.name}}</h1>
<button class="change"> My profile</button><br>

<table class="table">
  <tr>
    <th>User Name:</th>
    <th>{{user.username}}</th>
  </tr>
  <tr>
    
    <th>Email:</th>
    <th>{{user.email}}</th>
  </tr>
  <tr>
   
    <th>Age:</th>
    <th>{{user.age}}</th>
  </tr>
</table>

<script type="text/javascript" src='./app.js'></script>
 </div>     
    </body>
</html>